.App {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.card {
  margin: 10px;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
}


button {
  background-color: #007bff;
  color: white;
}
body {
  background: linear-gradient(135deg, #f8f9fa, #e0f7fa);
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}
